<a href="https://colab.research.google.com/github/bebooneha/neha21399776-assignment1/blob/main/group_assingment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
conn = sqlite3.connect('AUS_energy_sqlite3.db')

In [ ]:
cur = conn.cursor()

In [ ]:
sql='''
SELECT name FROM sqlite_master WHERE type='table';
'''
cur.execute(sql)
cur.fetchall()

[('AUS_energy',)]

In [ ]:
sql='''
PRAGMA table_info('AUS_energy');
'''
cur.execute(sql)
cur.fetchall()

[(0, 'Year', 'TEXT', 0, None, 0),
 (1, 'State', 'TEXT', 0, None, 0),
 (2, 'Coal (PJ)', 'REAL', 0, None, 0),
 (3, 'Oil (PJ)', 'REAL', 0, None, 0),
 (4, 'Gas (PJ)', 'REAL', 0, None, 0),
 (5, 'Renewables (PJ)', 'REAL', 0, None, 0),
 (6, 'Population', 'INTEGER', 0, None, 0),
 (7, 'GSP ($ million)', 'INTEGER', 0, None, 0)]

In [ ]:
sql='''
SELECT * FROM AUS_energy;
'''
#Load the data into a dataframe
energy_df = pd.read_sql_query(sql, conn)
energy_df

,Year,State,Coal (PJ),Oil (PJ),Gas (PJ),Renewables (PJ),Population,GSP ($ million)
0,2008-09,WA,132.9,294.3,474.7,15.6,2240250,244695
1,2008-09,NSW,800.9,587.5,131.6,54.7,7408540,530532
2,2008-09,VIC,695.3,432.9,273.5,33.6,5371934,368579
3,2008-09,QLD,629.2,469.5,187.9,77.4,4328771,284526
4,2008-09,SA,80.2,120.2,134.0,21.2,1608902,100174
...,...,...,...,...,...,...,...,...
93,2021-22,VIC,410.7,410.0,237.5,105.2,6625964,500900
94,2021-22,QLD,485.6,504.7,305.7,143.0,5320496,384508
95,2021-22,SA,25.9,141.6,80.2,48.3,1821200,124252
96,2021-22,TAS,8.8,39.9,7.1,48.1,571013,36701
97,2021-22,NT,,37.6,110.6,1.6,250219,26058

In [ ]:
print(energy_df.head())

      Year State Coal (PJ)  Oil (PJ)  Gas (PJ)  Renewables (PJ)  Population  \
0  2008-09    WA     132.9     294.3     474.7             15.6     2240250
1  2008-09   NSW     800.9     587.5     131.6             54.7     7408540
2  2008-09   VIC     695.3     432.9     273.5             33.6     5371934
3  2008-09   QLD     629.2     469.5     187.9             77.4     4328771
4  2008-09    SA      80.2     120.2     134.0             21.2     1608902

   GSP ($ million)
0           244695
1           530532
2           368579
3           284526
4           100174

In [ ]:
grouped_by_state = energy_df.groupby(['State'])

In [ ]:
grouped_by_state.head()

,Year,State,Coal (PJ),Oil (PJ),Gas (PJ),Renewables (PJ),Population,GSP ($ million)
0,2008-09,WA,132.9,294.3,474.7,15.6,2240250,244695
1,2008-09,NSW,800.9,587.5,131.6,54.7,7408540,530532
2,2008-09,VIC,695.3,432.9,273.5,33.6,5371934,368579
3,2008-09,QLD,629.2,469.5,187.9,77.4,4328771,284526
4,2008-09,SA,80.2,120.2,134.0,21.2,1608902,100174
5,2008-09,TAS,12.4,41.6,11.2,37.1,504353,28165
6,2008-09,NT,,54.8,39.9,0.4,226027,19562
7,2009-10,WA,125.6,290.0,474.9,14.6,2290845,259326
8,2009-10,NSW,771.8,638.9,148.7,63.8,7506058,539670
9,2009-10,VIC,688.7,448.4,263.5,36.0,5461101,372276
10,2009-10,QLD,547.5,466.9,195.8,107.4,4404744,290556
11,2009-10,SA,79.7,120.5,119.5,20.4,1627322,102303
12,2009-10,TAS,11.5,41.5,13.6,40.0,508847,28402
13,2009-10,NT,,51.9,42.0,0.5,229778,19469
14,2010-11,WA,130.6,341.5,494.9,15.3,2353409,271336
15,2010-11,NSW,732.2,685.0,146.5,68.6,7586514,550617
16,2010-11,VIC,681.2,488.8,258.6,44.7,5537817,382790
17,2010-11,QLD,497.2,483.3,190.6,98.7,4476778,292986
18,2010-11,SA,72.6,119.3,121.8,23.8,1639614,104522
19,2010-11,TAS,10.1,39.2,17.7,43.1,511483,29078
20,2010-11,NT,,54.9,44.1,0.5,231292,20035
21,2011-12,WA,125.0,339.5,503.4,17.0,2425507,293802
22,2011-12,NSW,692.7,687.4,142.1,71.1,7680783,564462
23,2011-12,VIC,705.7,469.3,263.6,41.0,5651091,391911
24,2011-12,QLD,481.5,504.8,246.1,99.7,4568687,310052
25,2011-12,SA,60.9,89.4,125.2,24.7,1656725,105577
26,2011-12,TAS,8.9,38.1,16.2,39.8,511724,29644
27,2011-12,NT,,55.7,42.0,0.5,235915,20841
28,2012-13,WA,129.8,357.5,515.5,18.8,2486944,311508
29,2012-13,NSW,643.0,677.4,157.4,70.9,7787289,577133
30,2012-13,VIC,622.0,488.3,276.2,55.5,5772669,395536
31,2012-13,QLD,473.4,514.7,239.8,114.2,4652824,318873
32,2012-13,SA,50.7,147.4,124.6,25.1,1671488,106343
33,2012-13,TAS,12.0,38.5,17.7,48.5,512231,29474
34,2012-13,NT,,54.2,45.3,0.5,241722,22263

In [ ]:
energy_df[['Coal (PJ)', 'Oil (PJ)', 'Gas (PJ)', 'Renewables (PJ)']] = energy_df[['Coal (PJ)', 'Oil (PJ)', 'Gas (PJ)', 'Renewables (PJ)']].apply(pd.to_numeric, errors='coerce')

In [ ]:
energy_df['Total_Energy_PJ'] = energy_df['Coal (PJ)'] + energy_df['Oil (PJ)'] + energy_df['Gas (PJ)'] + energy_df['Renewables (PJ)']

In [ ]:
print(energy_df)

       Year State  Coal (PJ)  Oil (PJ)  Gas (PJ)  Renewables (PJ)  Population  \
0   2008-09    WA      132.9     294.3     474.7             15.6     2240250
1   2008-09   NSW      800.9     587.5     131.6             54.7     7408540
2   2008-09   VIC      695.3     432.9     273.5             33.6     5371934
3   2008-09   QLD      629.2     469.5     187.9             77.4     4328771
4   2008-09    SA       80.2     120.2     134.0             21.2     1608902
..      ...   ...        ...       ...       ...              ...         ...
93  2021-22   VIC      410.7     410.0     237.5            105.2     6625964
94  2021-22   QLD      485.6     504.7     305.7            143.0     5320496
95  2021-22    SA       25.9     141.6      80.2             48.3     1821200
96  2021-22   TAS        8.8      39.9       7.1             48.1      571013
97  2021-22    NT        NaN      37.6     110.6              1.6      250219

    GSP ($ million)  Total_Energy_PJ
0            244695            917.5
1            530532           1574.7
2            368579           1435.3
3            284526           1364.0
4            100174            355.6
..              ...              ...
93           500900           1163.4
94           384508           1439.0
95           124252            296.0
96            36701            103.9
97            26058              NaN

[98 rows x 9 columns]